<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238329653617-5or36b58qumk1tmjme0qa30h59gn2981.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238329653617-5or36b58qumk1tmjme0qa30h59gn2981</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>238329653617-utlm1603lrsphunmgkr0t5cjjfuej55p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfFd3iQR-qfLhQVrD6B1X8cJVT4InxmoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>238329653617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lorenzosala.meddly</string>
	<key>PROJECT_ID</key>
	<string>meddly-fbcf7</string>
	<key>STORAGE_BUCKET</key>
	<string>meddly-fbcf7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238329653617:ios:51e68ad91212748cffaed0</string>
</dict>
</plist>